<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/site.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/docs/4.4/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/docs/4.4/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/docs/4.4/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/docs/4.4/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/docs/4.4/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
    <link rel="icon" href="/docs/4.4/assets/img/favicons/favicon.ico">
    <meta name="msapplication-config" content="/docs/4.4/assets/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#563d7c">
</head>

<body>

    {{!-- {{{body}}} --}}

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">Organizer</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tasks">Tasks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Finance</a>
                    </li>
                </ul>
                <form class="form-inline mt-2 mt-md-0">
                    <a class="btn btn-sm btn-outline-secondary" href="#">Sign in</a> &nbsp; &nbsp;
                    <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>
            </div>
        </nav>
    </header>

    <main role="main">

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                        preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                        <rect width="100%" height="100%" fill="#777" /></svg>
                    <div class="container">
                        <div class="carousel-caption text-left">
                            <h1>Welcome to the Organizer!</h1>
                            <p>This is a web app that acts as your daily schedule and finance assistant.</p>
                            <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                        preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                        <rect width="100%" height="100%" fill="#777" /></svg>
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Scheduler</h1>
                            <p>For the scheduler, you can layout your daily thoughts, comments, notes, and events.
                                The timed trigger event will send you an email as a reminder!</p>
                            <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                        preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                        <rect width="100%" height="100%" fill="#777" /></svg>
                    <div class="container">
                        <div class="carousel-caption text-right">
                            <h1>Finance Organizer</h1>
                            <p>You can organize your finance like spending, saving and recurring bills. Included is
                                a pie-based chart to show spending, saving in the category.</p>
                            <p><a class="btn btn-lg btn-primary" href="#" role="button">Check it out!</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>


        <!-- Marketing messaging and featurettes
  ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->

        <div class="container marketing">


            <!-- START THE FEATURETTES -->

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your
                            mind.</span></h2>
                    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                        euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
                        tellus ac cursus commodo.</p>
                </div>
                <div class="col-md-5">
                    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                        height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                        focusable="false" role="img" aria-label="Placeholder: 500x500">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa"
                            dy=".3em">500x500</text>
                    </svg>
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for
                            yourself.</span></h2>
                    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                        euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
                        tellus ac cursus commodo.</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                        height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                        focusable="false" role="img" aria-label="Placeholder: 500x500">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa"
                            dy=".3em">500x500</text>
                    </svg>
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                        euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
                        tellus ac cursus commodo.</p>
                </div>
                <div class="col-md-5">
                    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                        height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                        focusable="false" role="img" aria-label="Placeholder: 500x500">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa"
                            dy=".3em">500x500</text>
                    </svg>
                </div>
            </div>

            <hr class="featurette-divider">

            <!-- /END THE FEATURETTES -->

        </div><!-- /.container -->




        <div class="container">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <form id="form">
                        <div class="form-group">
                            <label for="todo">Todo</label>
                            <input type="text" class="form-control" id="todoUserInput" placeholder="Todo">
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>

                    </form>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <ul class="list-group" id="display">

                    </ul>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="alert" role="alert" id="message">

                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>

        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
        <script>
            $(document).ready(() => {
                const display = $("#display");
                const form = $("#form");
                const todoUserInput = $("#todoUserInput");
                const message = $("#message");
                message.hide();
                const displayMessage = (flag, msg) => {
                    // successful
                    if (flag) {
                        message.removeClass('alert-danger');
                        message.addClass('alert-success');
                        message.html(msg);
                        message.show();
                    }
                    else {
                        message.removeClass('alert-success');
                        message.addClass('alert-danger');
                        message.html(msg);
                        message.show();
                    }
                }

                const getTodos = () => {
                    fetch('/getTodos', { method: "get" }).then((response) => {
                        return response.json();
                    }).then((data) => {
                        console.log(data);
                        displayTodos(data);
                    });
                }
                getTodos();
                const resetTodosInput = () => {
                    todoUserInput.val('');
                }
                const editTodo = (todo, todoID, editID) => {
                    let editBtn = $(`#${editID}`);
                    editBtn.click(() => {
                        fetch(`/${todo._id}`, {
                            method: "put",
                            headers: {
                                "Content-Type": "application/json; charset=utf-8"
                            },
                            body: JSON.stringify({ todo: todoUserInput.val() })
                        }).then((response) => {
                            return response.json();
                        }).then((data) => {
                            if (data.ok == 1) {
                                let todoIndex = $(`#${todoID}`);
                                todoIndex.html(data.value.todo);
                                resetTodosInput();
                            }
                        });
                    });
                }
                const deleteTodo = (todo, listItemID, deleteID) => {
                    let deleteBtn = $(`#${deleteID}`);
                    deleteBtn.click(() => {
                        fetch(`/${todo._id}`, {
                            method: "delete"
                        }).then((response) => {
                            return response.json();
                        }).then((data) => {
                            if (data.ok == 1) {
                                $(`#${listItemID}`).remove();
                            }
                        });
                    });
                }
                const buildIDS = (todo) => {
                    return {
                        editID: "edit_" + todo._id,
                        deleteID: "delete_" + todo._id,
                        listItemID: "listItem_" + todo._id,
                        todoID: "todo_" + todo._id
                    }
                }
                const buildTemplate = (todo, ids) => {
                    return `<li class="list-group-item" id="${ids.listItemID}">
                            <div class="row">
                                <div class="col-md-4" id="${ids.todoID}">${todo.todo}</div>
                                <div class="col-md-4"></div>
                                <div class="col-md-4 text-right">
                                    <button type="button" class="btn btn-secondary" id="${ids.editID}">Edit</button>
                                    <button type="button" class="btn btn-danger" id="${ids.deleteID}">Delete</button>
                                </div>
                            </div>
                       </li>`;
                }
                const displayTodos = (data) => {
                    data.forEach((todo) => {
                        let ids = buildIDS(todo);
                        display.append(buildTemplate(todo, ids));
                        editTodo(todo, ids.todoID, ids.editID);
                        deleteTodo(todo, ids.listItemID, ids.deleteID);
                    });
                }
                form.submit((e) => {
                    e.preventDefault();
                    fetch('/', {
                        method: 'post',
                        body: JSON.stringify({ todo: todoUserInput.val() }),
                        headers: {
                            "Content-Type": "application/json; charset=utf-8"
                        }
                    }).then((response) => {
                        return response.json();
                    }).then((data) => {
                        if (!data.error) {
                            if (data.result.ok == 1 && data.result.n == 1) {
                                let ids = buildIDS(data.document);
                                display.append(buildTemplate(data.document, ids));
                                editTodo(data.document, ids.todoID, ids.editID);
                                deleteTodo(data.document, ids.listItemID, ids.deleteID);
                                displayMessage(true, data.msg);
                            }
                        }
                        else
                            displayMessage(false, data.error.message);
                        resetTodosInput();

                    });
                });
            });
        </script>



        <!-- FOOTER -->
        <footer class="container">
            <p class="float-right"><a href="#">Back to top</a></p>
            <p>&copy; 2019 RAP &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>
    </main>
</body>

</html>