{{!-- IF YOU WANT TO SEE A SPECIFIC TASK --}}

<article class="post">
  <h1>{{ post.title }}</h1>
  <address>Posted by {{post.poster.name}}</address>
  <p>{{ post.body }}</p>

  <a href="/index">Back to All Posts</a>
</article>